html {
    align-items: center;
    text-align: center;
  }

body {
    background-color: #B5B5B5;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 0px;
    border: 1px solid black;
    box-shadow: black 0px 0px 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 2vh;
  padding-left: 2vw;
  font-size: 2vw;
  background-color: #625F5F;
  border: 0px solid #111111;
  font-family: Arial, Helvetica, sans-serif;
}

span{
  display: inline-block;
  text-decoration: none;
  padding: 5px 20px;
  outline: 0;
  border-radius: 15px;
  background-color: #B5B5B5;
  color: #202131;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0 10px 10px 0;
  white-space: nowrap;
}
